/*
Styling for typing animation
*/

.verb {
    border-bottom: 3px dotted #ccc;
}

.question {
    color: #f05a28;
}

.make {
    color: #fc2dd3;
}

.invent {
    color: #f4f441;
}

.code {
    color: #9bf441;
}

.design {
    color: #ef4136;
}
