.devclub
{
    position: relative;
    float: right;
}

.typed {
    /* color: #000; */
    width: 80%;
    margin: auto;
    min-width: 300px;
    font-family: 'Ubuntu', sans-serif;
}

#verb {
    text-decoration: underline currentColor dashed;
}

.svg-row {
    height: 50vh;
}

.intro-page {
    color: #fff;
    background: -webkit-linear-gradient(-80deg, #eee 10%, rgba(0, 0, 0, 0) 85%), url('../public_images/background1.jpeg');
    background: -o-linear-gradient(-80deg, #eee 10%, rgba(0, 0, 0, 0) 85%), url('../public_images/background1.jpeg');
    background: -moz-linear-gradient(-80deg, #eee 10%, rgba(0, 0, 0, 0) 85%), url('../public_images/background1.jpeg');
    background: linear-gradient(-80deg, #eee 10%, rgba(0, 0, 0, 0) 85%), url('../public_images/background1.jpeg');
    background-size: cover;
    background-position: bottom;
    /* text-align: right; */
}

.develop {
    color: #ec5f5c;
}
.code {
    color: #f8aa44;
}
.make {
    color:#9b59b6;
}
.invent {
    color: #3498db;
}
.question {
    color: #1abc9c;
}