.study-main {
    background-color: #ec5f5c;
}
.sendata-main {
    background-color: #f8aa44;
}
.review-main {
    background-color: #3498db;
}
.yearbook-main {
    background-color:#9b59b6;
}
.campusbot-main {
    background-color: #1abc9c;
}
.projects-heading {
    padding: 20px;
}
.projects-body {
    color:#ffffff; 
    padding: 5%;
}
.projects-body p {
    font-size: 1em;
}
.section-title {
    text-align: center;
    font-family: Ubuntu; 
    color: #007b5e;  
    text-transform: uppercase;
}
body {
    background: #eee !important;
}
@media screen and (max-width: 992px) {
    .projects-heading-mob {
        display: block;
    }
    .projects-heading {
        display: none;
    }
} 
@media screen and (min-width: 992px) {
    .projects-heading-mob {
        display: none;
    }
    .projects-heading {
        display: block;
    }
} 