._4kzu{width:32px}._2fug{background-image:url(/rsrc.php/v3/yR/r/hdMKerRltr-.png);background-repeat:no-repeat;background-size:32px 32px;background-position:0 0;display:inline-block;height:32px;width:32px}@media all and (max-width: 700px){._4kzu{display:none}}

#bootloader_L_ieU{height:42px;}.bootloader_L_ieU{display:block!important;}